/** @format */

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 999;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: #edf2ff;
  opacity: 0.2;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35rem;
  height: auto;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  background-color: #f1f3f5;
}

.img_placeholder {
  padding: 0.5rem;
  overflow: hidden;
  border-radius: 0.6rem;
}
